@use "styles/global/globals.module.scss" as globals;
@use "styles/global/include-media" as mediaQuery;

.header {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);

  .appNameDisplay {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    .appLogo {
      svg {
        color: globals.$primary-color;
        font-size: 35px;
      }
    }

    .appNameFirstPart {
      font-size: 35px;
      font-weight: 500;
      color: globals.$primary-color;
    }

    .appNameSecondPart {
      @extend .appNameFirstPart;
      color: unset;
    }
  }
}

.profileActions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .profileAuthActions {
    a {
      padding: 0 10px 0 10px;
      color: globals.$primary-color;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
    }

    .profileNameDisplay {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
    }
  }
}