@use "styles/global/globals.module.scss" as globals;
@use "styles/global/include-media" as mediaQuery;
@use "UI/Button/button.module.scss" as buttonsStyles;

.select {
    @extend .button;
    margin: 5px 0 5px 0;
    border-radius: 0;
    border: 0;
    background-color: globals.$input-background-color;
    color: globals.$black;
    text-transform: none;

    svg {
        font-size: 23px;
        color: globals.$black;
    }
}

.menuItem {
    padding: 10px 10px 10px 10px;
    background-color: globals.$white;

    &:hover {
        background-color: #d7f1ff;
    }
}

.label {
    width: 250px;
    font-size: 15px;
}