@import "styles/global/globals.module.scss";

/*the container must be positioned relative:*/
.customSelect {
    position: relative;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    select {
        display: none; /*hide original SELECT element:*/
    }

    .selectSelected {
        min-width: 200px;
        height: 40px;
        background-color: $primary-color;
        border-radius: 5px;

        &::after {
            position: absolute;
            content: "";
            top: 44px;
            right: 10px;
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid $white;
        }

        /*point the arrow upwards when the select box is open (active):*/
        .select-arrow-active::after {
            top: 44px;
            border-color: transparent transparent #fff transparent;
        }
    }

    .selectItems div,.selectSelected {
        color: #ffffff;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
        user-select: none;
    }

    /*style items (options):*/
    .selectItems {
        position: absolute;
        background-color: DodgerBlue;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
    }

    /*hide the items when the select box is closed:*/
    .selectHide {
        display: none;
    }

    .selectItems div:hover, .sameAsSelected {
        background-color: rgba(0, 0, 0, 0.1);
    }
}