/* SCSS HEX */
$sail: #add7f6;
$hover: #87bfff;
$background-color-input: #3f8efc;
$primary-color: #2667ff;
$purple-heart: #3b28cc;
$background-color: #eeeeee;
$submit-button-background-color: #ffb600;
$light-blue: #d7f1ff ;


$white: #fff;
$black: #000;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);
$gradient-right: linear-gradient(90deg, #add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);
$gradient-bottom: linear-gradient(180deg, #add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);
$gradient-left: linear-gradient(270deg, #add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);
$gradient-top-right: linear-gradient(45deg, #add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);
$gradient-bottom-right: linear-gradient(135deg, #add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);
$gradient-top-left: linear-gradient(225deg, #add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);
$gradient-bottom-left: linear-gradient(315deg, #add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);
$gradient-radial: radial-gradient(#add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.6;
  background: rgb(247,247,247);
  background: linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 57%);
  padding: 0;
  margin: 0;

  a {
    display: block;
    width: 100%;
    padding: 5px 10px 5px 10px;
    color: $primary-color;
    font-weight: 500;
    text-align: left;
    text-decoration: none;
  }

  h1 {
    margin: 0;
    font-size: 35px;
    font-weight: 500;
  }

  h2 {
    padding: 0;
    font-size: 25px;
    font-weight: 500;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
  }

  input {
    &:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 30px $light-blue;
      &:hover {
        -webkit-box-shadow: inset 0 0 0 30px $light-blue;
      }

    }
  }
}

.container {
  margin: 0 10px 0 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: $white;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

  h3 {
    color: $primary-color;
  }
}

.page {
  padding: 20px;
  background: rgb(173,215,246);
  background: linear-gradient(0deg, rgba(173,215,246,1) 0%, rgba(171,219,255,1) 33%, rgba(255,255,255,1) 47%);
}

.header {
  background: $gradient-left;
}


.textarea {
  color: $black;
  font-family: 'Courier New', "Helvetica Neue", sans-serif;
  line-height: 1.2rem;
}