/* SCSS HEX */
$sail: #add7f6;
$jordy-blue: #87bfff;
$dodger-blue: #3f8efc;
$blue-ribbon: #2667ff;
$purple-heart: #3b28cc;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);
$gradient-right: linear-gradient(90deg, #add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);
$gradient-bottom: linear-gradient(180deg, #add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);
$gradient-left: linear-gradient(270deg, #add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);
$gradient-top-right: linear-gradient(45deg, #add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);
$gradient-bottom-right: linear-gradient(135deg, #add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);
$gradient-top-left: linear-gradient(225deg, #add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);
$gradient-bottom-left: linear-gradient(315deg, #add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);
$gradient-radial: radial-gradient(#add7f6, #87bfff, #3f8efc, #2667ff, #3b28cc);

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}