@use "styles/global/include-media" as mediaQuery;

.hrProfilePage {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 1fr;

  @include mediaQuery.media("<desktop") {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto auto;
    row-gap: 10px;
  }

  .logoutContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    grid-column: 1/3;
    grid-row: 1/2;

    @include mediaQuery.media("<desktop") {
      grid-column: 1/2;
    }
  }
}

.profilePicture {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;

  @include mediaQuery.media("<desktop") {
    grid-column: 1/2;
  }

    .buttonsContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 15px;
      margin: 20px 0 0 0;
    }
}

.profileForm {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0 0 0 20px;

  @include mediaQuery.media("<desktop") {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}