@import "../../styles/global/globals.module";

.tabsBarContainer {
  display: flex;
  flex-direction: row;
  padding: 0 20px 0 20px;
  margin-bottom: 20px;
  color: $primary-color;
  background-color: $white;

  .tabItem {
    height: 40px;
    width: auto;
    padding: 0 10px 0 10px;
    align-items: center;
    color: $primary-color;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      height: calc(40px - 5px);
      align-items: center;
      border-bottom: 5px solid;
      border-bottom-color: $primary-color;
      background-color: $light-blue;
    }
  }
}
